<!DOCTYPE html>
<html>
  <head>
    <title>Base App Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/messages" %>
    <%= render "layouts/sessions" if user_signed_in? %>
    <%= yield %>
  </body>
</html>
